<html ng-app='tomatillo' ng-controller='timerCtrl'>
  <head>
    <title>{{formattedTime}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type='text/javascript' src='js/timer.js'></script>
    <link rel='stylesheet' type='text/css' href='styles/styles.css'>
  </head>

  <body>
    <div id='timer'>
      <img id='tomatillo' src='images/tomatillo.svg' />
      <div id='interface'>
          <div id='display'>{{formattedTime}}</div>
          <input ng-model='time' id='timeInput' type='text' placeholder='Time in seconds'></input>

        <div id='buttons'>
          <button id='start' ng-click='start()'>Start</button>
          <button id='stop' ng-click='stop()'>Stop</button>
          <button id='reset' ng-click='reset()'>Reset</button>
        <div>
      </div>
    </div>
  </body>
<html>
