#timer {
  width: 355px;
  position: absolute;
  margin: 0 auto;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
}

#tomatillo {
  width: 355px;
  position: absolute;
}

#interface {
  position: absolute;
  text-align: center;
  width: 355px;
  margin-top: 50%;
}

#buttons {
  margin-top: 5px;
}

#display {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-family: Montserrat;
  color: #fff;
  font-size: 100px;
}

.glyphicon-menu-hamburger {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #5C884B;
  font-size: 35px;
  padding: 25px;
  color: #B9C559;
}

.menu.open {
  left: 0px;
  transition: left 1s;
}

.menu-button.open {
  left: 20%;
  transform: rotate(90deg);
  transition: left 1s, transform 1s;
}

.customize-form {
  transition: left 1s;
  left: -20%;
  width: 20%;
  height: 100%;
  position: absolute;
  background-color: gray;
}

.customizing {
  left: 20%;
  transition: left 1s;
}

.menu {
  transition: left 1s;
  left: -20%;
  width: 20%;
  height: 100%;
  position: absolute;
  background-color: #5C884B;
}

.nav-btn {
  outline: none;
  font-family: Playfair Display;
  color: #fff;
  text-align: left;
  width: 100%;
  height: 7%;
  background-color: inherit;
  border: none;
}

.nav-btn:hover {
  background-color: #B9C559;
}

button {
  font-family: Playfair Display;
}

.menu-button {
  transition: left 1s, transform 1s;
  left: 0px;
  position: absolute;
}

#menu-button {
  position: absolute;
}

body {
  background-color: #faf8ef;
}

button[disabled], html input[disabled] {
  opacity: 0.75;
}
