#timer {
  width: 355px;
  position: absolute;
  margin: 0 auto;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
}

#tomatillo {
  width: 355px;
  position: absolute;
}

#interface {
  position: absolute;
  text-align: center;
  width: 355px;
}

body {
  background-color: #faf8ef;
}
