@import url('sidebar.css');
@import url('timer.css');
@import url('settings.css');

button {
  font-family: Playfair Display;
}

body {
  background-color: #faf8ef;
}

button[disabled], html input[disabled] {
  opacity: 0.75;
}
